* {box-sizing: border-box; /* Use the * to target every element on the page. border -box considers size of objects */

   padding: 5px;
   
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   background-color: rgb(248, 246, 246);
   text-align: center;
   color: rgb(122, 135, 146);
   
} 
#top {
    margin-left: 200px;
    margin-top: 50px;
}
h1 {
    text-align: left;
    color: rgb(104, 139, 170);
   
}
h3 {
    color: rgb(183, 197, 209);
    font-style: oblique;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
}
h4{
    color: rgb(114, 114, 114);
    text-align: center;
}

#me-pic {
    max-width: 150px;
    background-color: rgb(183, 202, 219);
    border-radius: 70px;
    margin-top: 10px;
    margin-right: 40px;
}
#pic-text {
    padding-bottom: 100px;
}
#card {
    background-color: rgb(183, 202, 219);
}
button {
    padding-left: 10px;
    padding-right: 10px;
   
    border-color: rgb(183, 202, 219);
    border-radius: 10px;
    font-size: small;
    background-color: rgb(183, 197, 209);
    max-width: 100px;  
    float: left;
    margin-right: 20px;
    
}

#footer {
    text-align: center;
}
#footerpic{
    max-width: 50px;
    margin-left: 570px;
}

#skills-icons {
    display: flex;
    max-width: 80px;
    max-height: 80px;
    align-items: center;
    justify-content: center;
    
   
   
}
figcaption {
    font-size: 15px;
    
}
#coffee-img {
    align-items: center;
    max-width: 100px;
    margin-left: 570px;
}