* {box-sizing: border-box; /* Use the * to target every element on the page. border -box considers size of objects */

   padding: 5px;
   border-color: rgb(10, 9, 8);
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   background-color: rgb(226, 217, 216);
   text-align: center;
   color: rgb(114, 114, 114);
   
} 
#top {
    margin-left: 200px;
    margin-top: 50px;
}
h1 {
    text-align: left;
}
h3 {
    color: rgb(170, 170, 173);
    font-style: oblique;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
}
h4{
    color: rgb(114, 114, 114);
    text-align: center;
}

#me-pic {
    max-width: 150px;
    background-color: rgb(247, 233, 225);
    border-radius: 70px;
    margin-top: 10px;
    margin-right: 40px;
}
#pic-text {
    padding-bottom: 100px;
}
#card {
    background-color: rgb(247, 233, 225);
}
button {
    padding: px;
   
    border-color: rgb(247, 241, 238);
    border-radius: 10px;
    font-size: small;
    background-color: rgb(247, 241, 238);
    max-width: 100px;
    
    
}
#footer {
    text-align: center;
}
#footerpic{
    max-width: 35px;
}
#skills-icons {
    max-width: 80px;
}